:root {
   --txt: hsl(208, 20%, 62%);
   --bg: hsl(211, 51%, 9%);
   --nav-txt: hsl(212, 19%, 68%);
   --nav-txt-lg: hsl(212, 24%, 70%);
   --nav-bg-lg: hsl(213, 41%, 14%);
   --nav-logo-bg: hsl(212, 30%, 17%);
   --nav-logo-bg-lg: hsl(212, 30%, 17%);
   --comp-bg: hsl(216, 37%, 14%);
   --comp-bg-lg: hsl(216, 37%, 22%);
   --comp-txt: hsl(208, 12%, 45%);
   --comp-txt-active: hsla(203, 100%, 72%);
   --skeleton-bg: hsl(213, 42%, 17%);
   --skeleton-fg: hsla(205, 92%, 42%, 0.1);
   --shadow-center: 0px 8px 15px -3px rgb(0, 0, 0, 0.1), 0px 0px 7px 5px rgba(143, 95, 95, 0.05);
   --col-1: auto 2.6rem;
   --col-2: 0.76rem auto;
   --col-3: repeat(auto-fill,minmax(105px,1fr));
   --col-4: repeat(auto-fill,minmax(150px,1fr));
   --col-5: repeat(auto-fill,minmax(200px,1fr));
   --row-1: min-content auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   @apply font-body;
   background: var(--bg);
   color: var(--txt);
}

