.filepond {
   &--root {
      margin-bottom: 0 !important;
   }

   &--panel-root {
      background-color: hsl(var(--navy-500) / 70) !important;
      @apply shadow-md;
   }

   &--drop-label {
      cursor: pointer !important;
   }

   &--drip-blob {
      background-color: hsl(var(--blue-200)) !important;
   }

   &--item-panel {
      background-color: theme('colors.orange.300') !important;
   }

   &--credits {
      display: none;
   }
}

.dark .filepond--panel-root {
   @apply shadow-none;
}

[data-filepond-item-state*='error'] .filepond--item-panel,
[data-filepond-item-state*='invalid'] .filepond--item-panel {
    background-color: theme('colors.red.500') !important;
}

[data-filepond-item-state='processing-complete'] .filepond--item-panel {
    background-color: theme('colors.green.400') !important;
}
