name: Test Build
permissions:
  contents: read
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize]
    
jobs:
  build:
    name: Build
    timeout-minutes: 15
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Detect changes
        uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            api-server:
              - 'api-server/**'
              - 'Cargo.toml'
              - 'Cargo.lock'
            client-server:
              - 'client-server/**'
              - 'Cargo.toml'
              - 'Cargo.lock'
            client-app:
              - 'client-app/**'
              - 'bun.lockb'
              - 'package.json'
        
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.20
          
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Test Build - Client App
        if: steps.changes.outputs.client-app == 'true'
        run: |
          bun install
          bun run -F moviedb-client-app lint:check
          bun run -F moviedb-client-app format:check
          bun run -F moviedb-client-app build

      - name: Test Build - Client Server
        if: steps.changes.outputs.client-server == 'true'
        run: |
          cargo fmt --package moviedb-client-server -- --check
          cargo clippy --package moviedb-client-server -- -D warnings
          cargo build --package moviedb-client-server

      - name: Test Build - API Server
        if: steps.changes.outputs.api-server == 'true'
        env:
          TMDB_ACCESS_TOKEN: ${{ secrets.TMDB_ACCESS_TOKEN }}
        run: |
          cargo fmt --package moviedb-api-server -- --check
          cargo clippy --package moviedb-api-server -- -D warnings
          cargo build --package moviedb-api-server
          cargo test --package moviedb-api-server

