@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --slate-50: 209 29% 75%;
   --slate-100: 212 24% 70%;
   --slate-200: 212 19% 68%;
   --slate-300: 208 20% 62%;
   --slate-400: 208 12% 45%;

   --blue-100: 205 92% 42%;
   --blue-200: 203 100% 72%;

   --navy-100: 216 37% 22%;
   --navy-200: 213 42% 17%;
   --navy-300: 212 30% 17%;
   --navy-400: 213 41% 14%;
   --navy-500: 216 37% 14%;
   --navy-600: 211 51% 9%;
   --navy-700: 235 21% 21%;

   --white-100: 0 0% 100%;
   --white-200: 210 30% 92%;

   --grey-100: 210 18% 31%;
   --grey-200: 206 25% 20%;

   --skeleton-bg: hsl(var(--slate-50) / 1);
   --skeleton-fg: hsl(var(--blue-100) / 0.1);

   --col-1: auto 2.6rem 2.6rem;
   --col-2: 0.76rem auto 0.76rem;
   --col-3: repeat(3, minmax(100px, 1fr));
   --col-4: repeat(auto-fill, minmax(150px, 1fr));
   --col-5: repeat(auto-fill, 175px);
   --col-6: repeat(auto-fill, 200px);
   --row-1: min-content auto;
}

%search-reset {
   @apply px-0 outline-none shadow-none border-none ring-transparent;
}

@layer base {
   [type='search'] {
      @extend %search-reset;

      &:focus {
         @extend %search-reset;
      }
      &::-webkit-search-cancel-button,
      &::-webkit-search-decoration {
         -webkit-appearance: none;
         appearance: none;
      }
   }

   body {
      @apply font-body scroll-smooth bg-custom-white-200 text-custom-grey-100 dark:bg-custom-navy-600 dark:text-custom-slate-300;
   }

   input:-webkit-autofill,
   input:-webkit-autofill:hover,
   input:-webkit-autofill:focus,
   input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
   }

   .dark {
      --skeleton-bg: hsl(var(--navy-200));

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
         -webkit-box-shadow: 0 0 0 30px hsl(var(--navy-500)) inset !important;
      }
   }
}

@import './scrollbar';
@import './no-script';
@import './404.scss';
@import './toaster';
@import './filepond';
