:root {
   --slate-50: 209 29% 75%;
   --slate-100: 212 24% 70%;
   --slate-200: 212 19% 68%;
   --slate-300: 208 20% 62%;
   --slate-400: 208 12% 45%;

   --blue-100: 205 92% 42%;
   --blue-200: 203 100% 72%;

   --navy-100: 216 37% 22%;
   --navy-200: 213 42% 17%;
   --navy-300: 212 30% 17%;
   --navy-400: 213 41% 14%;
   --navy-500: 216 37% 14%;
   --navy-600: 211 51% 9%;
   --navy-700: 235 21% 21%;

   --white-100: 0 0% 100%;
   --white-200: 210 30% 92%;

   --grey-100: 210 18% 31%;
   --grey-200: 206 25% 20%;

   --skeleton-bg: hsl(var(--slate-50) / 1);
   --skeleton-fg: hsl(var(--blue-100) / 0.1);

   // --txt: hsl(var(--slate-300));
   // --bg: hsl(var(--navy-600));

   // --nav-txt: hsl(var(--slate-200));
   // --nav-txt-lg: hsl(var(--slate-100));
   // --nav-bg-lg: hsl(var(--navy-400));
   // --nav-logo-bg: hsl(var(--navy-300));
   // --nav-logo-bg-lg: hsl(var(--navy-300));

   // --comp-bg: hsl(var(--navy-500));
   // --comp-bg-lg: hsl(var(--navy-100));
   // --comp-txt: hsl(var(--slate-400));
   // --comp-txt-active: hsla(var(--blue-200));

   // --skeleton-bg: hsl(var(--navy-200));
   // --skeleton-fg: hsl(var(--blue-200), 0.1);

   --col-1: auto 2.6rem 2.6rem;
   --col-2: 0.76rem auto 0.76rem;
   --col-3: repeat(3, minmax(100px, 1fr));
   --col-4: repeat(auto-fill, minmax(150px, 1fr));
   --col-5: repeat(auto-fill, 175px);
   --col-6: repeat(auto-fill, 200px);
   --row-1: min-content auto;
}

.dark {
   --skeleton-bg: hsl(var(--navy-200));

   #_404 {
      background-color: hsl(var(--white-200) / 0.9);
   }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   [type='search']::-webkit-search-cancel-button,
   [type='search']::-webkit-search-decoration {
      -webkit-appearance: none;
      appearance: none;
   }

   body {
      @apply font-body bg-custom-white-200 text-custom-grey-100 dark:bg-custom-navy-600 dark:text-custom-slate-300;
   }

   #no-script {
      position: relative;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background: hsl(var(--navy-600));

      span {
         font-family: Arial, Helvetica, sans-serif;
         font-size: 1.25rem;
         line-height: 1.75rem;
         color: hsl(var(--blue-200));
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);

         @screen lg {
            font-size: 1.5rem;
            line-height: 2rem;
         }
      }
   }
}

@layer components {
   #_404 {
      background-image: url('../assets/_404img.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: hsl(var(--white-200));
      width: 95vw;
      max-width: 810px;
      height: 50vh;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -10%);
      border-radius: 1rem;
   }

   .movie-header {
      background: hsl(var(--navy-500));
      background: linear-gradient(
         180deg,
         rgba(22, 33, 49, 0.502305145691089) 0%,
         rgba(22, 33, 49, 0.9868989832261029) 73%
      );
   }
}

.Toastify__close-button {
   @apply text-red-400;
}
